<!DOCTYPE HTML>
<html ng-app='App'>
    <head>
        <title>angular-ui-semantic - angular.js directives for semantic ui</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="../css/semantic/build/packaged/css/semantic.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body ng-controller="RootController">
    <style>
        #gist10413460{
            width: 600px;
            margin-top: 40px;
        }

        #gist10644913{
          margin-left: -350px;
        }

        #gist10645039{
          margin-left: -350px;
        }
    </style>
    <div style="display: table; margin: 0 auto;">
        <h1 style="margin-left: 100px;">angularify.semantic.dropdown</h1>
        <section style='margin-top: 200px;'>
          <dropdown title="my dropdown" ng-model="dropdown_model" open="true" style="top: 45px; margin-left: -100px;">
            <dropdown-group>item1</dropdown-group>
            <dropdown-group>item2</dropdown-group>
            <dropdown-group>item3</dropdown-group>
            <dropdown-group>item4</dropdown-group>
        </dropdown>
        <br/>
        <script src="https://gist.github.com/0xAX/a697423d32f94e0382df.js"></script>
        </section>
    </div>

    <div class="ui black huge launch right attached toggle button" ng-click="show_sidebar()" id="sidebar_button" style="width: 70px; margin-left: -10px; margin-top:-240px; top: -200px; position: relative;">
        <i class="icon list layout"></i>
        <span class="text" style="display: none;">Menu</span>
    </div>

    <sidebar ng-model="sidebar" ng-mouseleave="hide_sidebar()">
      <sidebar-item href="overview.html"  icon="home"  title="Installing"></sidebar-item>
      <sidebar-item href="accordion.html" icon="code" title="Accordion"></sidebar-item>
      <sidebar-item href="checkbox.html"  icon="code" title="Checkbox"></sidebar-item>
      <sidebar-item href="dimmer.html"    icon="code" title="Dimmer"></sidebar-item>
      <sidebar-item href="dropdown.html"  icon="code" title="DropDown"></sidebar-item>
      <sidebar-item href="modal.html"     icon="code" title="Modal"></sidebar-item>
      <sidebar-item href="popup.html"     icon="code" title="Popup"></sidebar-item>
      <sidebar-item href="rating.html"   icon="code" title="rating"></sidebar-item>
      <sidebar-item href="sidebar.html"   icon="code" title="SideBar"></sidebar-item>
    </sidebar>


    <script src="../js/angular.js" type="text/javascript"></script>
    <script src="../js/app.js" type="text/javascript"></script>
    <script src="../js/controllers.js" type="text/javascript"></script>
    <script src="../js/angular-semantic-ui-0.0.1.js" type="text/javascript"></script>
    </body>
</html>